<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="css/main.css"/>
	<head>
		<title>NYT Lite</title>
	</head>
	<body>
		<div class="header"></div>
		<div class="main-container"></div>
		<script src="/js/bundle.js"></script>
	</body>
</html>
