body {
  height: 100%;
  margin: 0 0 0 0;
  opacity: 0.01;
  transition: opacity 500ms linear;
  visibility: hidden; }

.header {
  border-bottom: 1px solid #11111122;
  height: 0px;
  width: 100%; }

.main-container {
  height: 100%;
  overflow: scroll; }

.articles-container {
  height: 100vh;
  overflow: scroll;
  flex-direction: row; }

.menu-container {
  background-color: #ffffffff;
  border-right: 1px solid #11111122;
  box-shadow: 0 0 50px -5px #cccccc22;
  font-family: Times;
  height: 100vh;
  margin: 0 0 100px 0;
  overflow: scroll;
  position: fixed;
  transition: all 400ms ease-out;
  width: 25em;
  z-index: 1000; }
  .menu-container .mu-sort-container {
    border-bottom: 1px solid #11111122;
    border-top: 1px solid #11111122;
    height: auto;
    margin: 2em 0 0 0;
    min-height: 100px;
    min-width: 300px;
    overflow: hidden;
    padding: 2em 2em 2em 2em;
    white-space: nowrap;
    width: auto; }
  .menu-container .mu-sort-header {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    margin: .5em .5em .5em .5em; }
  .menu-container .mu-sort-select {
    background-color: #eeeeeeee;
    border: 1px solid #999;
    color: black;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    height: 50px;
    margin: 0 1em .5em .5em;
    padding: .5em 1.5em .5em .75em;
    text-transform: capitalize;
    width: 180px; }
    .menu-container .mu-sort-select:focus {
      outline: none; }
  .menu-container .mu-sort-date {
    font-family: serif;
    margin: 0 1em 1em 1em; }
  .menu-container .mu-items-container {
    width: 25em; }
  .menu-container .mu-item-entry {
    border-bottom: 1px solid #44444411;
    height: auto;
    font-family: Helvetica Neue, sans-serif;
    min-height: 100px;
    overflow-y: scroll;
    padding: 2em 3em 2em 3em;
    transition: all 300ms ease;
    white-space: wrap;
    width: auto; }
    .menu-container .mu-item-entry:hover, .menu-container .mu-item-entry:focus {
      background: #3388cc11; }
  .menu-container .mu-section {
    color: #002266;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    margin: .25em .25em .25em .25em;
    text-transform: uppercase; }
  .menu-container .mu-title {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
    margin: .25em .25em .25em .25em; }
  .menu-container .mu-author {
    color: #000000;
    font-family: 'Palatino', serif;
    font-size: 1.5em;
    font-weight: 100;
    margin: .25em .25em .25em .25em;
    text-transform: capitalize; }
  .menu-container .mu-date {
    color: #333333;
    font-size: 1.25em;
    font-weight: 100;
    margin: .25em .25em .25em .25em; }
  .menu-container .business {
    color: #002266; }
  .menu-container .health {
    color: #333333; }
  .menu-container .opinion {
    color: #191919; }
  .menu-container .politics {
    color: #cc0000; }
  .menu-container .science {
    color: #222222; }
  .menu-container .sports {
    color: #303030; }
  .menu-container .technology {
    color: #282828; }
  .menu-container .us {
    color: #220066; }
  .menu-container .world {
    color: #4d0026; }

.menu-container.show {
  opacity: 1;
  transition-delay: 300ms;
  visibility: visible; }

.menu-container.hide {
  opacity: 0.01;
  transition-delay: 100ms;
  visibility: hidden;
  width: 20px; }

.menu-placeholder {
  background-color: transparent;
  border-right: 1px solid #11111122;
  height: calc(100vh);
  float: left;
  cursor: pointer;
  position: fixed;
  transition: all 400ms ease-out;
  width: 100px;
  -webkit-tap-highlight-color: transparent; }
  .menu-placeholder .mu-icon {
    color: #3388cc99;
    color: #11111122;
    left: calc(50% - 8px);
    position: absolute;
    top: calc(50% - 8px);
    transform: scale(1.5); }

.menu-placeholder.mu-show {
  opacity: 0.01;
  visibility: hidden;
  transition-delay: 100ms; }

.menu-placholder.mu-hide {
  opacity: 1;
  transition-delay: 300ms;
  visibility: visible; }

.menu-background {
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 0; }

.menu-background.mu-show {
  opacity: 1;
  visibility: visible; }

.menu-background.mu-hide {
  opacity: 0.01;
  visibility: hidden; }

.reader-container {
  font-family: 'Playfair Display', serif;
  height: 100vh;
  margin: 3em 0 3em 0;
  overflow: scroll;
  padding: 0 20vw 100px 20vw; }
  .reader-container .rdr-header {
    margin: 0 0 1em 0;
    min-height: 200px;
    padding: 1em 1em 1em 1em; }
  .reader-container .rdr-section {
    font-size: 1em;
    text-align: center;
    text-transform: capitalize; }
  .reader-container .rdr-title {
    font-size: 2em;
    font-style: italic;
    font-weight: 700;
    margin: 2em 0 2em 0;
    text-align: center; }
  .reader-container .rdr-author {
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 100;
    margin: 2em 0 2em 0;
    text-align: center; }
  .reader-container .rdr-date {
    color: #000;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: .75em;
    font-weight: 100;
    margin: 2em 0 2em 0;
    text-align: center; }
  .reader-container .rdr-article-body {
    margin: 3em 0 3em 0;
    padding: 0 0 1em 0;
    text-align: justify; }
    .reader-container .rdr-article-body p {
      color: #000;
      font-size: 1em;
      font-weight: 100;
      margin: 2em 0 2em 0;
      text-indent: 0; }
    .reader-container .rdr-article-body a {
      color: #444444ff; }
  .reader-container .rdr-footer {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 0.7em;
    padding: 30px 30px 30px 30px; }
    .reader-container .rdr-footer a {
      color: #444444; }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 0; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=main.css.map */
