body {
	height: 100%;
	margin: 0 0 0 0;
	opacity: 0.01;
	transition: opacity 500ms ease-in;
	visibility: hidden;
}

$header-height: 25px;

.header {
	border-bottom: 1px solid #11111111;
	height: $header-height;
	width: 100%;
}

.main-container {
	height: 100%;
	overflow: scroll;
}

.articles-container {
	height: 100vh;
	overflow: scroll;
	flex-direction: row;
}

$menu-container-width: 190px;

.menu-container {
	background-color: #ffffffcc;
	border-right: 1px solid #11111111;
	font-family: Times;
	height: calc(100vh - 25px);
	margin: 0 0 100px 0;
	overflow: scroll;
	padding: 0 30px 0 0;
	position: fixed;
	transition: all 400ms ease-out;
	width: $menu-container-width;

	.mu-sort {
		height: 30px;
		padding: 10px 10px 10px 10px;
	}

	.mu-sort-type {
		width: 100px;
		height: 30px;
		cursor: pointer;
		font-family: Helvetica Neue, sans-serif;
		font-weight: 100;
		border: 1px solid #3388cc33;
		border-radius: 5px;
		background-color: #fffffe;
		&:focus {
			outline: none;
		}
	}

	.mu-item-entry {
		border-bottom: 1px solid #44444411;
		height: auto;
		font-family: Helvetica Neue;
		min-height: 60px;
		padding: 10px 10px 10px 20px;
		transition: all 300ms ease;
		white-space: wrap;
		width: $menu-container-width;
		&:hover {
			cursor: pointer;
			background-color: #3388cc22;
		}
	}

	.mu-section {
		display: block;
		margin-bottom: 10px;
		font-size: 0.7em;
		text-transform: uppercase;
	}
	.business { color: #002266 }
	.health { color: #66ffff }
	.opinion { color: #6600cc }
	.politics { color: #cc0000 }
	.science { color:  #009999 }
	.sports { color: #ffb3ff }
	.technology { color: #009999 }
	.us { color: #ff5050 }
	.world { color: #4d0026 }

	.mu-title {
		display: block;
		font-size: 0.8em;
		font-style: italic;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.mu-date {
		display: block;
		font-family: Helvetica Neue;
		font-weight: 100;
		font-size: 0.7em;
		color: #333333;
	}
}

.menu-container.show {
	opacity: 1;
}

.menu-container.hide {
	opacity: 0;
	width: 20px;
	transition-delay: 100ms;
}



.reader-container {
	height: 100vh;
	overflow: scroll;
	padding: 0 200px 100px 200px;
	margin: 0 0 0 50px;
	font-family: 'Playfair Display', serif;

	.rdr-header {
		margin: 10px 0 10px 0;
		min-height: 200px;
		padding: 10px 10px 0 10px;
	}

	.rdr-section {
		text-align: center;
		text-transform: capitalize;
	}

	.rdr-title {
		text-align: center;
		font-size: 2em;
		font-style: italic;
		font-weight: 700;
	}

	.rdr-author {
		text-align: center;
		font-family: Helvetica;
		font-size: 1.3em;
		font-weight: 400;
		margin-bottom: 12px;
	}

	.rdr-date {
		text-align: center;
		font-size: 1em;
		font-weight: 100;
		color: #666666;
		font-family: Helvetica Neue, sans-serif;
	}

	.rdr-article-body {
		padding: 60px 30px 10px 30px;
		text-align: justify;

		p {
			text-indent: 35px;
			color: #000;
			margin: 0 0 10px 0;
			font-size: 1.2em;
			font-weight: 100;
	 	}
		a { color: #444444ff; }
	}

	.rdr-footer {
		padding: 30px 30px 30px 30px;
		font-size: 0.7em;
		a { color: #444444 }
	}

	@keyframes fadein {
    from { opacity: 0; }
    to	 { opacity: 0; }
    to   { opacity: 1; }
	}

}


