body {
	height: 100%;
	margin: 0 0 0 0;
	opacity: 0.01;
	transition: opacity 500ms linear;
	visibility: hidden;
}

.main-container {
	height: 100%;
	overflow: scroll;
}

.articles-container {
	height: 100vh;
	overflow: scroll;
	flex-direction: row;
}

$menu-container-width: 10em;
$mu-sort-height: 8em;
$mu-sort-margin: 0em;
.menu-container {
	background-color: #ffffffff;
	border-right: 1px solid #aaaaaa11;
	height: 100vh;
	position: fixed;
	transition: all 100ms ease-in;
	width: $menu-container-width;
	z-index: 1000;
	.mu-sort-container {
		border-bottom: 1px solid #aaaaaa11;
		border-top: 1px solid #aaaaaa11;
		height: $mu-sort-height;
		margin: 2em 0 0 0;
		margin-top: $mu-sort-margin;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: $menu-container-width;
	}

	.mu-sort-header {
		color: #666666;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1em;
		font-weight: 100;
		margin: 2em 0 0 1em;
		text-transform: uppercase;
	}

	.mu-sort-select {
		background-color: #eeeeee55;
		border: 1px solid #aaaaaa22;
		color: #333333;
		font-family: 'Helvetica', sans-serif;
		font-size: 1em;
		font-weight: 400;
		height: 3em;
		margin: .5em 0 0 1em;
		padding: .25em .75em .25em .5em;
		text-transform: capitalize;
		width: auto;
		&:focus {
			outline: none;
		}
	}

	.mu-items-container {
		height: calc(100vh - #{$mu-sort-height} - #{$mu-sort-margin});
		overflow: auto;
		position: absolute;
		top: calc(#{$mu-sort-height} + #{$mu-sort-margin});
		width: $menu-container-width;
	}

	.mu-item-entry {
		border-bottom: 1px solid #aaaaaa22;
		height: auto;
		font-family: Helvetica, sans-serif;
		min-height: 3em;
		overflow: hidden;
		padding: 1em 1em 1em 1em;
		transition: all 300ms ease;
		white-space: wrap;
		width: auto;
		&:hover, &:focus {
			background: #3388cc11;
		}
	}

	.mu-section {
		color: #555555;
		display: block;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1em;
		margin: .25em .25em .25em .25em;
		text-transform: uppercase;
	}

	.mu-title {
		display: block;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1em;
		font-style: italic;
		font-weight: bold;
		margin: .25em .25em .25em .25em;
	}

	.mu-author {
		color: #000000;
		font-family: 'Palatino', serif;
		font-size: 1em;
		font-weight: 100;
		margin: .25em .25em 0 .25em;
		text-transform: capitalize;
	}

	.mu-date {
		color: #333333;
		font-size: 1em;
		font-weight: 100;
		margin: .25em .25em .25em .25em;
	}

}

.lg-menu-placeholder { display: none; }
$menu-placeholder-width: 3em;
.menu-placeholder {
	background-color: transparent;
	border-right: 1px solid #aaaaaa11;
	height: calc(100vh);
	float: left;
	cursor: pointer;
	position: fixed;
	transition: all 500ms ease-in;
	width: $menu-placeholder-width;
	-webkit-tap-highlight-color: transparent;
	.mu-icon {
		color: #aaaaaa33;
		left: calc(50% - .5em);
		position: absolute;
		top: calc(50% - .5em);
		transform: scale(1);
	}
}

.menu-container.show {
	opacity: 1;
	transition-delay: 100ms;
	visibility: visible;
}

.menu-container.hide {
	opacity: 0.01;
	transition-delay: 100ms;
	visibility: hidden;
	width: $menu-placeholder-width;
}

.menu-placeholder.mu-show {
	opacity: 0.01;
	visibility: hidden;
}

.menu-placholder.mu-hide {
	opacity: 1;
	visibility: visible;
}

.menu-background {
	background-color: #aaaaaa05;
	display: block;
	height: 100vh;
	position: fixed;
	transition: all 400ms ease;
	width: 100vw;
	z-index: 0;
}

.menu-background.mu-show {
	opacity: 1;
	visibility: visible;
}

.menu-background.mu-hide {
	opacity: 0.01;
	visibility: hidden;
}

.reader-container {
	//box-shadow: inset 0 0 2em -.5em #cccccc11;
	font-family: 'Playfair Display', serif;
	height: 100vh;
	margin: 0 0 0 2em;
	margin-left: $menu-placeholder-width;
	overflow: scroll;
	padding: 2em 5em 3em 5em;
	padding-left: calc(5em - #{$menu-placeholder-width});

	.rdr-header {
		margin: 0 0 1em 0;
		min-height: 12em;
		padding: 1em 1em 1em 1em;
	}

	.rdr-section {
		font-size: 1em;
		text-align: center;
		text-transform: capitalize;
	}

	.rdr-title {
		font-size: 1em;
		font-style: italic;
		font-weight: 700;
		margin: 1em 0 1em 0;
		text-align: center;

	}

	.rdr-author {
		font-family: Helvetica, sans-serif;
		font-size: 1em;
		font-weight: 100;
		margin: 1em 0 1em 0;
		text-align: center;
	}

	.rdr-date {
		color: #000;
		font-family: Helvetica, sans-serif;
		font-size: .75em;
		font-weight: 100;
		margin: 1em 0 1em 0;
		text-align: center;
	}

	.rdr-article-body {
		margin: 3em 0 3em 0;
		padding: 0 0 1em 0;
		text-align: justify;

		p {
			color: #000;
			font-size: 1em;
			font-weight: 100;
			margin: 2em 0 2em 0;
			text-indent: 0;
	 	}
		a { color: #444444ff; }
	}

	.rdr-footer {
		font-family: 'Helvetica', sans-serif;
		font-size: 0.7em;
		padding: 30px 30px 30px 30px;
		a { color: #444444 }
	}

}



@media only screen and (min-width:768px) {
	.main-container {
		height: 100%;
	}

	.articles-container {
		height: 100vh;
	}

	$lg-menu-container-width: 22em;
	$lg-mu-sort-height: 8em;
	.menu-container {
		border-right: 1px solid #aaaaaa33;
		height: 100vh;
		width: $lg-menu-container-width;
		.mu-sort-container {
			border-bottom: 1px solid #aaaaaa33;
			height: $lg-mu-sort-height;
			margin: 0 0 0 0;
			white-space: nowrap;
			width: $lg-menu-container-width;
		}

		.mu-sort-header {
			font-size: 1em;
			font-weight: 100;
			margin: 2em 0 1em 4em;
			text-transform: uppercase;
		}

		.mu-sort-select {
			border: 1px solid #11111122;
			font-size: 1em;
			font-weight: 400;
			height: 3em;
			margin: 0 0 1em 4em;
			min-width: 8em;
			width: auto;
		}

		.mu-items-container {
			box-shadow: inset 0 0 3em -.5em #cccccc11;
			height: calc(100vh - #{$lg-mu-sort-height});
			top: $lg-mu-sort-height;
			width: $lg-menu-container-width;
		}

		.mu-item-entry {
			border-bottom: 1px solid #aaaaaa33;
			height: auto;
			min-height: 5em;
			padding: 2em 3em 2em 3em;
			width: auto;
			&:hover, &:focus {
				background: #3388cc22;
			}
		}

		.mu-section {
			font-size: 1em;
			margin: .25em .25em .25em .25em;
		}

		.mu-title {
			font-size: 1.25em;
			font-style: italic;
			font-weight: bold;
			margin: .25em .25em .25em .25em;
		}

		.mu-author {
			font-size: 1em;
			font-weight: 100;
			margin: .25em .25em .25em .25em;
		}

		.mu-date {
			font-size: 1em;
			font-weight: 100;
			margin: .25em .25em .25em .25em;
		}

	}

	.menu-placeholder { display: none; }
	$lg-menu-placeholder-width: 5em;
	.lg-menu-placeholder {
		background-color: transparent;
		border-right: 1px solid #aaaaaa33;
		cursor: pointer;
		display: block;
		float: left;
		height: calc(100vh);
		position: fixed;
		transition: all 500ms ease-in;
		width: $lg-menu-placeholder-width;
		.lg-mu-icon {
			color: #aaaaaa33;
			left: calc(50% - .5em);
			position: absolute;
			top: calc(50% - .5em);
			transform: scale(1.2);
		}
	}

	.menu-container.show {
		transition-delay: 200ms;
	}

	.menu-container.hide {
		transition-delay: 300ms;
		width: $menu-placeholder-width;
	}

	.lg-menu-placeholder.mu-show {
		opacity: 0.01;
		visibility: hidden;
	}

	.lg-menu-placholder.mu-hide {
		opacity: 1;
		visibility: visible;
	}
	.menu-background {
		height: 100vh;
		width: 100vw;
		z-index: -1000;
	}

	.reader-container {
		box-shadow: inset 0 0 2em -.5em #cccccc11;
		height: 100vh;
		margin: 0 0 0 2em;
		margin-left: $menu-placeholder-width;
		overflow: scroll;
		padding: 2em 14em 8em 14em;
		padding-left: calc(14em - #{$menu-placeholder-width});

		.rdr-header {
			margin: 0 0 1em 0;
			min-height: 200px;
			padding: 1em 1em 1em 1em;
		}

		.rdr-section {
			font-size: 1em;
			text-transform: capitalize;
		}

		.rdr-title {
			font-size: 2em;
			font-style: italic;
			font-weight: 700;
			margin: 2em 0 2em 0;
		}

		.rdr-author {
			font-size: 1em;
			font-weight: 100;
			margin: 2em 0 2em 0;
		}

		.rdr-date {
			font-size: .75em;
			font-weight: 100;
			margin: 2em 0 2em 0;
		}

		.rdr-article-body {
			margin: 3em 0 3em 0;
			padding: 0 0 1em 0;

			p {
				font-size: 1em;
				font-weight: 100;
				margin: 2em 0 2em 0;
				text-indent: 0;
			 }
		}

		.rdr-footer {
			font-size: 0.7em;
			padding: 30px 30px 30px 30px;
		}


	}

}
