body {
  height: 100%;
  margin: 0 0 0 0;
  opacity: 0.01;
  transition: opacity 500ms ease-in;
  visibility: hidden; }

.header {
  width: 100%;
  height: 25px;
  border-bottom: 1px solid #11111111; }

.main-container {
  height: 100%;
  overflow: scroll; }

.articles-container {
  height: 100vh;
  overflow: scroll;
  flex-direction: row; }

.menu-container {
  position: fixed;
  width: 200px;
  padding: 0 30px 0 0;
  overflow: scroll;
  height: 100vh;
  background-color: #ffffffcc;
  border-right: 1px solid #11111111;
  font-family: Times;
  transition: all 400ms ease-out; }
  .menu-container .mu-sort {
    height: 30px;
    padding: 10px 10px 10px 10px; }
  .menu-container .mu-sort-type {
    width: 100px;
    height: 30px;
    cursor: pointer;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 100;
    border: 1px solid #3388cc33;
    border-radius: 5px;
    background-color: #fffffe; }
    .menu-container .mu-sort-type:focus {
      outline: none; }
  .menu-container .mu-item-entry {
    width: 200px;
    min-height: 60px;
    height: auto;
    padding: 10px 10px 10px 20px;
    border-bottom: 1px solid #44444411;
    transition: all 300ms ease;
    font-family: Helvetica Neue;
    white-space: wrap; }
    .menu-container .mu-item-entry:hover {
      background-color: #3388cc22;
      cursor: pointer; }
  .menu-container .mu-section {
    display: block;
    margin-bottom: 10px;
    font-size: 0.7em;
    text-transform: uppercase; }
  .menu-container .mu-title {
    display: block;
    font-size: 0.8em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px; }
  .menu-container .mu-date {
    display: block;
    font-family: Helvetica Neue;
    font-weight: 100;
    font-size: 0.7em;
    color: #333333; }

.menu-container.show {
  opacity: 1;
  width: 200px; }

.menu-container.hide {
  opacity: 0;
  width: 20px;
  transition-delay: 100ms; }

.reader-container {
  height: 100vh;
  overflow: scroll;
  padding: 0 200px 100px 200px;
  margin: 0 0 0 50px;
  font-family: 'Playfair Display', serif; }
  .reader-container .rdr-header {
    margin: 10px 0 10px 0;
    min-height: 200px;
    padding: 10px 10px 0 10px; }
  .reader-container .rdr-section {
    text-align: center;
    text-transform: capitalize; }
  .reader-container .rdr-title {
    text-align: center;
    font-size: 2em;
    font-style: italic;
    font-weight: 700; }
  .reader-container .rdr-author {
    text-align: center;
    font-family: Helvetica;
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 12px; }
  .reader-container .rdr-date {
    text-align: center;
    font-size: 1em;
    font-weight: 100;
    color: #666666;
    font-family: Helvetica Neue, sans-serif; }
  .reader-container .rdr-article-body {
    padding: 60px 30px 10px 30px;
    text-align: justify; }
    .reader-container .rdr-article-body p {
      text-indent: 35px;
      color: #000;
      margin: 0 0 10px 0;
      font-size: 1.2em;
      font-weight: 100; }
    .reader-container .rdr-article-body a {
      color: #444444ff; }
  .reader-container .rdr-footer {
    padding: 30px 30px 30px 30px;
    font-size: 0.7em;
    animation: fadein 2s; }
    .reader-container .rdr-footer a {
      color: #3388cc; }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 0; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=main.css.map */
