body {
  height: 100%;
  margin: 0 0 0 0;
  opacity: 0.01;
  transition: opacity 500ms linear;
  visibility: hidden; }

.header {
  border-bottom: 1px solid #11111111;
  height: 25px;
  width: 100%; }

.main-container {
  height: 100%;
  overflow: scroll; }

.articles-container {
  height: 100vh;
  overflow: scroll;
  flex-direction: row; }

.menu-container {
  background-color: #ffffffff;
  border-right: 1px solid #11111111;
  box-shadow: 0 0 50px -5px #cccccc22;
  font-family: Times;
  height: calc(100vh - 26px);
  margin: 0 0 100px 0;
  overflow: scroll;
  position: fixed;
  top: 26px;
  transition: all 400ms ease-out;
  width: 400px;
  z-index: 1000; }
  .menu-container .mu-sort {
    margin: 0 0 1em 0;
    min-height: 80px;
    width: 380px;
    padding: 10px 10px 10px 10px; }
  .menu-container .mu-sort-header {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    margin: 1em 1em 1em .5em; }
  .menu-container .mu-sort-select {
    background-image: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    border: 1px solid #999;
    border-radius: 5px;
    color: black;
    height: 50px;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    margin: 0 1em .5em .5em;
    padding: .6em 1.4em .5em .8em;
    text-transform: capitalize;
    width: 200px; }
  .menu-container .mu-sort-date {
    font-family: serif;
    margin: 0 1em 1em 1em; }
  .menu-container .mu-items-container {
    width: 380px; }
  .menu-container .mu-item-entry {
    border-bottom: 1px solid #44444411;
    border-right: 1px solid #44444411;
    height: auto;
    font-family: Helvetica Neue, sans-serif;
    min-height: 60px;
    overflow-y: scroll;
    padding: 1.5em 1em 1em 2em;
    transition: all 300ms ease;
    white-space: wrap;
    width: auto; }
    .menu-container .mu-item-entry:hover, .menu-container .mu-item-entry:focus {
      background: #3388cc11; }
  .menu-container .mu-section {
    color: #002266;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    margin-bottom: .3em;
    text-transform: uppercase; }
  .menu-container .mu-title {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: .3em; }
  .menu-container .mu-author {
    color: #000000;
    display: block;
    font-family: serif;
    font-size: 1.3em;
    font-weight: 100;
    margin-bottom: 1em;
    text-transform: capitalize; }
  .menu-container .mu-date {
    display: block;
    font-weight: 100;
    font-size: 0.6em;
    color: #333333; }
  .menu-container .business {
    color: #002266; }
  .menu-container .health {
    color: #333333; }
  .menu-container .opinion {
    color: #191919; }
  .menu-container .politics {
    color: #cc0000; }
  .menu-container .science {
    color: #222222; }
  .menu-container .sports {
    color: #303030; }
  .menu-container .technology {
    color: #282828; }
  .menu-container .us {
    color: #220066; }
  .menu-container .world {
    color: #4d0026; }

.menu-container.show {
  opacity: 1;
  transition-delay: 300ms;
  visibility: visible; }

.menu-container.hide {
  opacity: 0.01;
  transition-delay: 100ms;
  visibility: hidden;
  width: 20px; }

.menu-placeholder {
  background-color: transparent;
  border-right: 1px solid #11111111;
  height: calc(100vh - 25px);
  float: left;
  cursor: pointer;
  position: fixed;
  transition: all 500ms ease-out;
  width: 60px; }
  .menu-placeholder p {
    margin: 45vh 0 0 23px;
    color: #3388cc44; }

.menu-placeholder.mu-show {
  opacity: 0.01;
  visibility: hidden;
  transition-delay: 100ms; }

.menu-placholder.mu-hide {
  opacity: 1;
  visibility: visible; }

.menu-background {
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 0; }

.menu-background.mu-show {
  opacity: 1;
  visibility: visible; }

.menu-background.mu-hide {
  opacity: 0.01;
  visibility: hidden; }

.reader-container {
  font-family: 'Playfair Display', serif;
  height: 100vh;
  margin: 50px 0 0 50px;
  overflow: scroll;
  padding: 0 20vw 100px 20vw; }
  .reader-container .rdr-header {
    margin: 0px 0 10px 0;
    min-height: 200px;
    padding: 10px 10px 10px 10px; }
  .reader-container .rdr-section {
    font-size: 1em;
    text-align: center;
    text-transform: capitalize; }
  .reader-container .rdr-title {
    font-size: 2em;
    font-style: italic;
    font-weight: 700;
    text-align: center; }
  .reader-container .rdr-author {
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 100;
    margin: 30px 0 30px 0;
    text-align: center; }
  .reader-container .rdr-date {
    color: #777777;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: .8em;
    font-weight: 100;
    margin: 30px 0 30px 0;
    text-align: center; }
  .reader-container .rdr-article-body {
    margin: 40px 0 40px 0;
    padding: 0px 0px 10px 0px;
    text-align: justify; }
    .reader-container .rdr-article-body p {
      color: #000;
      font-size: 1em;
      font-weight: 100;
      margin: 1em 0 2em 0;
      text-indent: 2em; }
    .reader-container .rdr-article-body a {
      color: #444444ff; }
  .reader-container .rdr-footer {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 0.7em;
    padding: 30px 30px 30px 30px; }
    .reader-container .rdr-footer a {
      color: #444444; }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 0; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=main.css.map */
